@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #bee5ed;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 620px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 48%;
  left: 48%;
  top: 0;
  background-color: #bee5ed;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  align-items: center;
}

.logo img {
  width: 100px;
  margin-top: 40px;
  margin-left: 1.5rem;
}
.heading {
  text-align: left;
  margin-left: 1.5rem;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #151111;
  margin-top: 5rem;
  margin-right: 1rem;
}
.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}
.actual-form {
  margin-top: 350px;
}
.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
  margin-right: 3rem;
}

.toggle:hover {
  color: #8371fd;
}
.input-wrap {
  position: relative;
}

.input-wrap i {
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888; 
}

.input-wrapname,
.input-wrap {
  position: relative;
  height: 36px;
  margin-bottom: 2rem;
  margin-left: 34px;
}
/* Styling untuk input text dan date */
.input-wrap input[type="text"],
input[type="date"],
select {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.input-wrapname {
  margin-top: -18.5rem;
}

.input-field {
  position: absolute;
  width: calc(100% - 70px);
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.9rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active + label {
  font-size: 0.7rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 76%;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  margin-top: 1.1rem;
  margin-left: 2rem;
  transition: 0.3s;
}

.textt {
  color: #bbbbbb;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 13rem;
  margin-top: -1.8rem;
  margin-bottom: 1rem;
}

.textt a {
  color: #4aa0e7;
  transition: 0.3s;
}

.textt a:hover {
  color: #004f8f;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}
/* Pop-up Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Transparansi hitam untuk overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Pastikan pop-up berada di atas elemen lain */
}

/* Pop-up Container */
.popup {
  background: #fff; /* Warna latar belakang putih untuk pop-up */
  border-radius: 8px; /* Sudut membulat pada pop-up */
  padding: 8px;
  width: 280px; /* Lebar pop-up */
  max-width: 90%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

/* Isi Pop-up */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content i {
  font-size: 38px; /* Ukuran ikon */
  color: blue; /* Warna ikon */
  margin-top: 10px; /* Jarak antara ikon dan teks */
}

/* Teks di Pop-up */
.popup-content h2 {
  font-size: 16px; /* Ukuran font untuk pesan pop-up */
  color: #333;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .headingg {
    margin: 2rem 0;
  }
  section.sign-up-mode .forms-wrap {
    transform: translateX(100%);
  }

  section.sign-up-mode .carousel {
    transform: translateX(0%);
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  section.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  section.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  section {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
