.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
  z-index: 1000;
}

.otp-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.otp-card h1 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.otp-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 5px;
}

.otp-input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.buttonn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"] {
  background-color: #4a90e2;
}

button[type="submit"]:hover {
  background-color: #357abd;
}

.resend-button {
  background-color: #7d8b8c;
}

.resend-button:hover {
  background-color: #5a6b6c;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.check-icon {
  font-size: 2rem;
  color: rgb(0, 134, 211);
}

.popup p {
  margin-top: 10px;
  font-size: 1rem;
}